<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <h2>Chat Room</h2>
    <div id="message-container">
      <!-- Messages will be displayed here -->
    </div>
    <form action="/send-message" method="POST">
      <input type="text" name="message" required />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
